[user]
  name = Chris Hawkins
  email = rc.hawkins@gmail.com

[core]
filemode = false
whitespace=-indent-with-non-tab,trailing-space,cr-at-eol,tab-in-indent

[push]
  default = current

[color]
  ui = true

[color "diff"]
whitespace = red reverse

[diff]
    noprefix = true

[pretty]
  hist      = "%C(yellow)%h %C(green)(%ad)%C(blue)[%an]%C(red)%d %C(reset)% %s"

[alias]
  co        = checkout
  st        = status --short --branch
  b         = !git branch -vv
  ba        = !git branch -avv

  unstage   = reset HEAD

  diffh     = diff HEAD
  diffs     = diff --staged

  hist      = log --graph --pretty=hist --date=relative --date-order

  h         = !git --no-pager hist -10
  hh        = !git --no-pager hist -30

  longhist  = log --pretty=hist --decorate --stat --date=relative
  lh        = !git longhist -10

  filelog   = log -u
